body {
  font-family: Arial, sans-serif;
  background-color: blue;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list{
  list-style: square inside;
}

ul {
  /* list-style-position: outside; */
  /* list-style-type: circle; */
  list-style: square inside;
}

header > img{
  width: 100px;
}

ul li a {
    text-decoration: none; /* This assures the a elements are not underlined */
}